<div class="panel panel-default fields">
  <div class="panel-heading">
    <span class="text-muted"> <%= Spree.t(:genres) %> </span>
  </div>
  <div class="panel-body" id="attr_list">
    <% if genres.any? %>
      <ul class="cat-wrap list-group">
        <li class="cat-row list-group-item">
          <% set_locales_array.each do |loc|  %>
            <span class="text-muted"><%= Spree.t(:version) %> - <%= loc %></span>
          <% end %>
          <span class="text-muted"><%= Spree.t(:Actions) %></span>
        </li>
        <% genres.each do |genre| %>
          <li class="cat-row list-group-item">
            <% set_locales_array.each do |loc|  %>
              <div class="cat-item">
                <%= genre.name(locale: loc) %>
              </div>
            <% end %>
            <div class="cat-item">
              <%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe,
               edit_admin_genre_path(genre), class: 'btn btn-sm btn-primary' %>
              <%= link_to "<i class='glyphicon glyphicon-remove'></i>".html_safe, 
                admin_genre_path(genre), method: :delete, class: 'btn btn-sm btn-primary'  %>
          </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%= Spree.t(:no_genres) %>
    <% end %>
  </div>
</div> 
