<% content_for :page_title do %>
  <div class="page-title-wrp">
    <%= Spree.t(:editing) %>: <%= @blog_entry.title %><span class="text-muted"> (<%= Mobility.locale  %>)</span>
  </div>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_blog_list), spree.admin_blog_entries_url, :icon => 'arrow-left' %>
<% end %>
<%= render "spree/shared/error_messages", :target => @blog_entry %>
<%= form_for [:admin, @blog_entry] do |f| %>
  <%= render :partial => f %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
