<% content_for :second_nav do %>
  <%= set_header_title %>
<% end %>
<div class="col-sm-12 col-md-10 col-md-offset-1">
  <div id="about">
    <div class="row">
      <div class="col-md-12">
        <% if @me %>
          <%= image_tag @me.profile_image.url(:original), class: 'center-block img-responsive' if @me.profile_image.present? %>
        <% end %>
        <%# <div id="personal-details" class="content"> %>
        <%#   <p class="text-center"><%= @me.fullname %1> %>
        <%#   <p class="text-center"><%= @me.email %1> %>
        <%#   <p class="text-center"><%= @me.address_line1 %1> %>
        <%#   <p class="text-center"><%= @me.address_line2 %1> %>
        <%# </div> %>
        <div class="content">
          <p class="text-center"><%= @me.bio.html_safe %>
        </div>
      </div>
    </div>
    <%= render :partial => 'spree/blog_entries/projects' %>
  </div>
</div>
